@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #181818;
    padding: 24px 0;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:last-of-type {
    margin-left: 31px;
}

header nav a {
    font: 15px/20px 'poppinsregular';
    color: #FFFFFF;
    text-decoration: none;
}

header nav li:first-of-type a {
    font-size: 13px;
}

header nav li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
    /*letter-spacing: 0.4px;*/
    color: #000000;
    padding: 11px 20px;
}

.main_screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    background-image: url("../images/image.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    box-sizing: border-box;
    position: relative;
}

.main_screen article {
    max-width: 580px;
}

.main_screen article h3 {
    margin-bottom: 1px;
    font: 14px/20px 'poppinsregular';
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #C0C0C0;

}

.main_screen article h1 {
    margin-bottom: 18px;
    font: 54px/59px 'poppinsregular';
    text-align: center;
    color: #FFFFFF;
}

.main_screen article p {
    font: 14px/20px 'poppinsregular';
    text-align: center;
    color: #C0C0C0;
}

.bottom_icons {
    display: flex;
    list-style: none;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.bottom_icons li {
    font: 12px/12px 'poppinsregular';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 16px;

}

.bottom_icons li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/IMAGE.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -5px;
}

.bottom_icons li:nth-of-type(2):before {
    background-image: url("../images/IMAGE (1).svg");
}

.bottom_icons li:nth-of-type(3):before {
    background-image: url("../images/IMAGE (2).svg");
    width: 32px;
}

.bottom_icons li:last-of-type:before {
    background-image: url("../images/IMAGE (3).svg");
    width: 10px;
}

.photography {
    padding-top: 113px;
    padding-bottom: 100px;
    background-color: #000000;
}

.photography img {
    width: 100%;
    display: block;
    margin-bottom: 16px;
}

.speciality {
    max-width: 1168px;
    margin: auto;
}

.what_we_do {
    max-width: 413px;
    margin: auto;
}

.what_we_do h2 {
    margin-bottom: 15px;
    font: 40px/42px 'poppinsregular';
    text-align: center;
    color: #FFFFFF;
}

.what_we_do h3 {
    margin-bottom: 42px;
    font: 23px/30px 'poppinsregular';
    text-align: center;
    color: #C0C0C0;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_photo {
    position: relative;
    max-width: 576px;
}

.product_photo_text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 501px;

}

.product_photo_text h3 {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.product_photo_text p {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    margin-bottom: 20px;
    color: #C0C0C0;
}

#product_photo {
    display: inline-flex;
    align-items: center;
    font: 15px/20px 'poppinsregular';
    text-decoration: none;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    letter-spacing: 0.4px;
}

#product_photo::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 6px;

}

.archi_photo {
    position: relative;
    max-width: 576px;
}

.archi_photo_text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 514px;
}

.archi_photo_text h3 {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.archi_photo_text p {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    margin-bottom: 20px;
    color: #C0C0C0;
}

#archi_photo {
    display: inline-flex;
    align-items: center;
    font: 15px/20px 'poppinsregular';
    text-decoration: none;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    letter-spacing: 0.4px;
}

#archi_photo::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 6px;
}


.drone_photo {
    position: relative;
    max-width: 576px;
}

.drone_photo_text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 516px;
}

.drone_photo_text h3 {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.drone_photo_text p {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    margin-bottom: 20px;
    color: #C0C0C0;
}

#drone_photo {
    display: inline-flex;
    align-items: center;
    font: 15px/20px 'poppinsregular';
    text-decoration: none;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    letter-spacing: 0.4px;
}

#drone_photo::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 6px;
}


.wildlife_photo {
    position: relative;
    max-width: 576px;
}

.wildlife_photo_text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 480px;
}

.wildlife_photo_text h3 {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.wildlife_photo_text p {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    margin-bottom: 20px;
    color: #C0C0C0;
}

#wildlife_photo {
    display: inline-flex;
    align-items: center;
    font: 15px/20px 'poppinsregular';
    text-decoration: none;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    letter-spacing: 0.4px;
}

#wildlife_photo::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 6px;
}

.sunset {
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    min-height: 600px;
    /*background-position: center center;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 62px;
}

.monstera {
    background-image: url("../images/monstera.jpg");
}

.himalayas {
    background-image: url("../images/himalayas.jpg");
}

.sunset article {
    max-width: 298px;
}

.sunset article h4 {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.sunset article p {
    font: 14px/20px 'poppinsregular';
    font-style: normal;
    letter-spacing: 2px;
    color: #C0C0C0;
}

.main_need {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 113px;
    padding-bottom: 108px;
    background-color: #000000;
}

.main_need article {
    max-width: 571px;
    text-align: center;
}

.main_need h2 {
    margin-bottom: 15px;
    font: 40px/42px 'poppinsregular';
    color: #FFFFFF;
}

.main_need h4 {
    margin-bottom: 22px;
    font: 24px/30px 'poppinsregular';
    color: #C0C0C0;
}

.main_need a {
    display: inline-flex;
    align-items: center;
    /*justify-content: center;*/
    /*box-sizing: border-box;*/
    font: 16px/20px 'poppinsregular';
    color: #000000;
    text-decoration: none;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
}

#get::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 6px;
}

.clients {
    padding: 113px 0 140px;
    background-color: black;
}

.clients .container {
    max-width: 1168px;
    margin: auto;
}

.clients h2 {
    font: 40px/42px 'poppinsregular';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.clients h3 {
    font: 24px/30px 'poppinsregular';
    font-style: normal;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.clients .flex_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .flex_block a {
    display: inline-block;
    margin: 0 10px;
    max-width: 128px;
}

.clients .flex_block a img {
    display: block;
    width: 100%;
}

footer {
    padding: 92px 0 100px 0;
    background-color: #000000;
}

.footer_logo {
    max-width: 1168px;
    margin: auto;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
}

.footer_logo img {
    margin-bottom: 20px;
}

.footer_logo p {
    font: 13px/20px 'poppinsregular';
    text-align: center;
    color: #C0C0C0;
}

.links {
    display: flex;
}

.links ul li {
    margin-bottom: 10px;
}

.pages {
    margin-right: 102px;
    margin-left: 55px;
}

.links ul li:first-child {
    list-style: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

footer ul a {
    font: 14px/20px 'poppinsregular';
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.footer_subscribe {
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    margin: auto;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.footer_subscribe h5 {
    font: 14px/20px 'poppinsregular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 36px;
    margin-bottom: 20px;
}

.footer_subscribe p {
    font: 13px/20px 'poppinsregular';
    text-align: left;
    color: #C0C0C0;
    margin-bottom: 36px;
}

.footer_subscribe form {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 458px;
    margin: 40px 0;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}

.email-field_label {
    display: none;
}

.email-field_input {
    border: none;
    /*color: transparent;*/
    border-radius: 12px;
    background-color: #F9FAFB;
}

.footer_subscribe form button {
    min-width: 63px;
    margin: 11px 6px 11px 0;
    border-radius: 11px;
    background-color: #000000;
}

.footer_bottom {
    display: flex;
    max-width: 1168px;
    margin: auto;
    padding-top: 56px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.footer_bottom p {
    color: #C0C0C0;
}

.social_links li {
    display: inline-block;
}

.social_links ul li:first-of-type {
    margin-right: 20px;
}

.social_links ul li:last-of-type {
    margin-left: 27px;
    margin-right: 7px;
}